/*Ejemplo de estilo CSS Externo*/
ul {color:green;}
p {color:blue;}
a{color:orange;}
html{background-color:royal gray;}
em{border-image-source: url(índice.png);}

/*selector universal*/
*{margin:0; 
padding:50;}
/*selector  tipo elemento*/
body{background-image: url(índice5.jpg); padding: 30px;}

/*selector descendente*/
strong font {border-style:dashed
;border-color:green;}
h1 font {text-decoration:ultra-expanded; 
border-style:dotted; border-color:black; border-width: thin;}
em h1{border-style:dotted;
border-top-color:orange; border-width: medium; border-spacing:2%}

/*selector Clase*/
.titulo{margin-left: 20%};}
.link {border:double;}
.primerparrafo {border:inset ;color: red;border-width: thin;}

/*selector ID*/
#contenido{margin-left: 50%;}

/*selector Hijo*/
p>input{color:green;}
/*selector Hermano adyacente*/
b+p+p{background-color:black;}
/*selector Hermano general*/
p~STRONG{background-color:gray}